.App {
  text-align: center;
}

.wrapper {
  display: flex;
}

.dark {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

.dark header, .dark section, .dark aside {
  background-color: black;
  color: white;
  border-color: white;
  transition: background-color 0.3s, color 0.3s;
}